/* VALORI GENERICI */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #DBDBD2;
  z-index: 1;
  font-family: 'Ubuntu', sans-serif;
}

body .green-header{
  background-color: #009688;
  z-index: 2;
  height: 140px;
  display: block;
}

.container{
  height: 95vh;
  max-width: 80%;
  margin: auto;
  transform: translateY(20px);
  z-index: 100;
  margin-top: -135px;
}

header{
  background-color: #EAEAEA;
  height: 70px;
}

.container ul{
  list-style: none;
}

.container li{
  display: inline-block;
  padding-right: 20px;
}

.container .icons{
  font-size: 21px;
  color: #B1B1B1;
  cursor: pointer;
}

.templates{
  display: none;
}
/* /VALORI GENERICI */

/* BLOCCO SINISTRA */
.main-left{
  width: 35%;
  height: 100%;
  float: left;
  border-right: 1px solid lightgrey;
}

/* HEADER SINISTRA */
.header-left-avatar img{
  width: 50px;
  border-radius: 50px;
  margin: 10px 0 0 10px;
  float: left;
}

.header-left ul{
  float: right;
  padding-top: 22px;
}

/* /HEADER SINISTRA */

/* NOTIFICATIONS */
.notifications{
  background-color: #8EDAFC;
  height: 80px;
  padding-top: 18px;
}

.bell{
  padding: 0 12px 0 20px;
  float: left;
}

.bell i{
  background-color: white;
  color: #8EDAFC;
  font-size: 20px;
  padding: 13px;
  border-radius: 50px;
}

.notifications-text{
  padding-top: 5px;
}

.notifications-text h4{
font-size: 15px;
padding-bottom: 3px;
}

.notifications-text p{
font-size: 13px;
color: grey;
text-decoration: underline;
cursor: pointer;
}
/* /NOTIFICATIONS */

/* SEARCH */
.search{
  background-color: #FAFAFA;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.search i{
  display: inline-block;
    width: calc(15% - 7px);
    height: 36px;
    margin: 7px 0 7px 7px;
    border-top: 1px solid #F5F5F5;
    border-right: 0;
    border-bottom: 1px solid #F5F5F5;
    border-left: 1px solid #F5F5F5;
    background: white;
    line-height: 36px;
    text-align: center;
    color: #B6B9BB;
}

.search input{
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  color: #B6B9BB;
  height: 36px;
  border-top: 1px solid #F5F5F5;
  border-left: 0;
  border-bottom: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  width: 85%;
}
/* /SEARCH */

/* CONTATTI */
.contacts{
  background-color: white;
  height: calc(100% - 200px);
  overflow-y: scroll;
}

.contacts-box{
  height: 80px;
  border-bottom: 1px solid #F5F5F5;
}

.contacts-box:hover{
  background-color: #E9EBEB;
  cursor: pointer;
}

.contacts img{
  width: 60px;
  border-radius: 40px;
  margin: 10px 0 0 20px;
  float: left;
  margin-right: 20px;
}

.contacts-text{
  padding: 20px 0 0 20px;
}

.contacts-text h4{
font-size: 16px;
padding-bottom: 7px;
}

.contacts-text p{
font-size: 13px;
color: #B6B9BB;
}

.time{
  text-align: right;
  padding-right: 10px;
  margin-top: -40px;
}

.time p{
font-size: 13px;
color: #B6B9BB;
}

/* /CONTATTI */
/* /BLOCCO SINISTRA */

/* BLOCCO DESTRA */
.main-right{
  height: 100%;
  width: 65%;
  float: right;
  border-right: 1px solid lightgrey;
}

/* HEADER DESTRA */
.header-right img{
  width: 50px;
  border-radius: 50px;
  margin: 10px 10px 0 10px;
  float: left;
}

.header-right-text{
  padding: 20px 0 0 5px;
  float: left;
}

.header-right-text h4{
  font-size: 16px;
  padding-bottom: 4px;
}

.header-right-text p{
font-size: 13px;
color: grey;
}

.header-right ul{
  float: right;
  padding-top: 22px;
}
/* /HEADER DESTRA */

/* CHAT APERTA */
.chat{
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  background-size: auto;
  overflow-y: scroll;
  padding: 20px 80px 0 80px;
}

.message-row{
  display: flex;
  margin: 10px 0;
}

.message{
  background-color: white;
  position: relative;
  max-width: 350px;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 40px 18px 18px;
  border-radius: 10px;
}

.message-time{
  position: absolute;
  color: #B6B9BB;
  font-size: 10px;
  right: 4px;
  bottom: 4px;
}

.message-row.sent{
  justify-content: flex-end;
}

.message-row.sent .message{
  background-color: #d5f9ba;
}
/* /CHAT APERTA */

/* NUOVO MESSAGGIO */
.new-message{
  height: 70px;
  background-color: #F3EEEA;
}

.new-message i{
  color: #6B7376;
  font-size: 25px;
  padding: 20px 35px;
  cursor: pointer;
}

#input-message{
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  color: grey;
  height: 50px;
  border-top: 1px solid #F5F5F5;
  border-left: 0;
  border-bottom: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  width: 70%;
  padding-left: 20px;
}
/* /NUOVO MESSAGGIO */
/* /BLOCCO DESTRA */
